@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
	--success-color: #5cb85c;
	--error-color: #d9534f;
	--dark-color-b: #318CEE;
	--light-color: #e6e9ff;
	--dark-color-a: #209CEE;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-size: 16px;
	background: var(--light-color);
	margin: 20px;
	font-family: 'Roboto', sans-serif;
}

.btn {
	cursor: pointer;
	padding: 5px 15px;
	background: var(--light-color);
	color: var(--dark-color-a);
	border: 0;
	font-size: 17px;
}

a {
	text-decoration: none;
}


ul {
	list-style: none;
}


/* chat frontend */


.chat-main {
	grid-template-columns: 1fr 3fr;
	display: grid;
}


.chat-header {
	color: #fff;
	display: flex;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 15px;
	align-items: center;
	justify-content: space-between;
	background: var(--dark-color-a);
}


.chat-cont {
	max-width: 1100px;
	background: #fff;
	margin: 250px auto;
	overflow: hidden;
}

.chat-side {
	padding: 20px 20px 60px;
	background: var(--dark-color-b);
	overflow-y: scroll;
	color: #fff;
}

.chat-side ul li {
	padding: 10px 0;
}

.chat-side h2,
.chat-side h3 {
	background: rgba(0, 0, 0, 0.1);
	padding: 10px;
	margin-bottom: 20px;
	font-size: 20px;
}


.chat-msgs {
	overflow-y: scroll;
	max-height: 500px;
	padding: 30px;
}

.chat-msgs .message .msgInfo span {
	color: #777;
}

.chat-msgs .message .msgInfo {
	font-size: 15px;
	font-weight: bold;
	color: var(--dark-color-b);
	margin-bottom: 7px;
	opacity: 0.7;
}


.chat-msgs .message {
	margin-bottom: 15px;
	overflow-wrap: break-word;
	padding: 10px;
	border-radius: 5px;
	background-color: var(--light-color);
}



.chat-form-cont {
	padding: 20px 30px;
	background-color: var(--dark-color-a);
}

.chat-form-cont input[type='text'] {
	height: 40px;
	padding: 5px;
	font-size: 16px;
	flex: 1;
}

.chat-form-cont form {
	display: flex;
}



/* Join Page */

.join-main {
	background: var(--dark-color-b);
	padding: 30px 40px;
}


.join-cont {
	color: #fff;
	margin: 250px auto;
	max-width: 500px;
}


.join-main p {
	margin-bottom: 20px;
}

.join-header {
	background: var(--dark-color-a);
	padding: 20px;
	border-top-left-radius: 5px;
	text-align: center;
	border-top-right-radius: 5px;
}

.join-main .form-control {
	margin-bottom: 20px;
}

.join-main label {
	display: block;
	margin-bottom: 5px;
}

.join-main input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main select {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main .btn {
	margin-top: 20px;
	width: 100%;
}

@media (max-width: 768px) {
	.chat-main {
		display: block;
	}

	.chat-side {
		display: none;
	}
}

#room-name {
	display: inline;
}